.profile__avatar-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
}


@media screen and (max-width: 740px) {
  .profile__avatar-container  {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__avatar-container  {
    margin-right: 0;
  }
}
